.profile-sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: var(--sky-blue);
  background: var(--dark-charcoal);
  width: 70px;
  overflow: hidden;
  transition: all linear 0.3s;
  cursor: pointer;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 995;
}

.profile-sidebar .name {
  opacity: 0;
  transition: all linear 0.3s;
}

.profile-sidebar:hover .name {
  opacity: 1;
}

.profile-sidebar:hover {
  width: 200px;
}

.profile-sidebar .profile-sidebar-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.profile-sidebar .profile-sidebar-list_element {
  height: 64px;
  overflow: hidden;
}

.profile-sidebar .profile-sidebar-list_element a {
  text-decoration: none;
  color: var(--sky-blue);
  display: block;
  padding: 1rem;
}

.profile-sidebar .profile-sidebar-list_element a:hover {
  background: var(--sky-blue);
  color: var(--dark-charcoal);
}

.profile-sidebar .profile-sidebar-list_element a.isActive {
  background: var(--sky-blue);
  color: var(--dark-charcoal);
}

.profile-sidebar .icon {
  font-size: 24px;
  padding-right: 0.8rem;
}

@media screen and (max-width: 1000px) {
  .profile-sidebar {
    width: 100vw;
    top: initial;
    bottom: 0;
    transform: initial;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .profile-sidebar:hover {
    width: 100vw;
  }

  .profile-sidebar .name {
    display: none;
  }

  .profile-sidebar .profile-sidebar-list {
    flex-direction: row;
    align-items: center;
  }

  .profile-sidebar .profile-sidebar-list_element {
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .profile-sidebar .profile-sidebar-list_element a {
    text-decoration: none;
    color: var(--sky-blue);
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
