.password-input_container {
  position: relative;
}

.password_input-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: var(--dark-charcoal);
}
