.edit_category-form-container {
  background: var(--dark-charcoal);
  z-index: 999;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit_category-form-container label {
  display: block;
  margin-bottom: 5px;
  color: var(--light-beige);
}

.edit_category-form-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.edit_category-form-container button:hover {
  background-color: #0056b3;
}
