.swiper_container {
  width: 100vw;
  overflow-x: hidden;
  max-width: 1600px;
}
.swiper_container.homeSwiper {
  background: var(--terracotta-red);
}
.swiper_container .swiper {
  /* padding: 2rem; */
  max-height: inherit;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 0 2rem;
  color: var(--dark-charcoal) !important;
}

.swiper img {
  width: inherit;
  height: 600px;
  object-fit: contain;
}

.swiper .home_slider-img {
  object-fit: contain;
}

@media screen and (max-width: 520px) {
  .swiper_container .swiper {
    padding: 0;
    padding-bottom: 2rem;
  }
}
