.shop_container {
}

.shop_container .title_container {
  font-size: 48px;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop_container .title_container .star {
  color: var(--vibrant-yellow);
}

.shop_container .title_container .flame {
  color: #ffa500;
}

.star_btn {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 32px;
}
