.favorites_container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

/* Favorites.css */

/* Styles for the navigation menu */
.favorites_nav {
  background-color: var(--light-beige);
  border-radius: 6px;
}

.favorites_nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.favorites_nav-item {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--dark-charcoal);
  transition: background-color 0.3s;
}

.favorites_nav-item:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.favorites_nav-item:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.favorites_nav-item:hover {
  background-color: var(--light-gray);
}

.favorites_nav-item.active {
  background-color: var(--dark-charcoal);
  color: var(--light-beige);
}

/* Styles for the container */
.profile_page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
.favorites_container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
} */
