.dashboard-container {
  padding: 20px;
}

.dashboard-title {
  margin-bottom: 20px;
}

.dashboard-nav {
  margin-bottom: 20px;
}

.dashboard-nav-list {
  list-style-type: none;
  padding: 0;
}

.dashboard-container .table-container {
  overflow-x: auto;
  max-height: 100vh;
  overflow-y: auto;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.dashboard-table th {
  background-color: #f2f2f2;
}

.dashboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dashboard-table tr:hover {
  background-color: #ddd;
}

.dashboard-container .delete-btn,
.edit-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dashboard-container .delete-btn {
  color: var(--terracotta-red);
}
.dashboard-container .edit-btn {
  color: var(--dark-charcoal);
}

.dashboard-container .edit-btn,
.delete-btn {
  transition: all ease-in 0.1s;
}

.dashboard-container .edit-btn:hover,
.delete-btn:hover {
  transform: scale(1.2);
}

.dashboard-container .buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
