.cart_container {
  padding-bottom: 4rem;
}

.cart_container .cart .cart_title {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_container .cart .view-summary {
  font-size: 16px;
  text-decoration: underline;
  color: var(--dark-charcoal);
}

.cart_container .cart .view-summary:hover {
  cursor: pointer;
}

.cart_container .cart-details {
  margin-top: 20px;
  overflow-y: auto;
}

.cart_container .cart-details table {
  width: 100%;
  border-collapse: collapse;
}

.cart_container .cart-details th,
.cart_container .cart-details td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.cart-details th:first-child {
  text-align: left;
}

.cart_container .cart-details th {
  background-color: var(--light-beige); /* Apply background color */
}

.cart_container .cart-details .product-data {
  text-align: center;
}

.cart_container .cart-details .price,
.cart_container .cart-details .total {
  font-weight: bold;
}

/* Alternating row colors */
.cart_container .cart-details tr:nth-child(even) {
  background-color: var(--light-beige);
}

/* Hover effect */
.cart_container .cart-details tr:hover {
  background-color: #eaf2fa;
}

/* For smaller screen sizes */
@media screen and (max-width: 768px) {
  .cart_container .cart-details table {
    font-size: 14px; /* Reduce font size for better readability */
    overflow-x: auto; /* Add horizontal scrolling for table overflow */
  }

  .cart_container .cart-details th,
  .cart_container .cart-details td {
    padding: 8px; /* Decrease padding for tighter layout */
  }

  .cart_container .cart-details th:first-child {
    text-align: left; /* Ensure product details are left-aligned */
  }

  .cart_container .cart-details .product-data {
    text-align: center; /* Center product data */
  }

  .cart_container .cart .middle {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center items */
  }

  .cart_container .cart .middle button {
    margin-bottom: 1rem; /* Add space between buttons */
  }
}
