.cart_container {
  padding-bottom: 4rem;
}

.cart_container .cart .cart_title {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_container .cart .view-summary {
  font-size: 16px;
  text-decoration: underline;
  color: var(--dark-charcoal);
}

.cart_container .cart .view-summary:hover {
  cursor: pointer;
}

.cart_container .cart-details {
  margin-top: 20px;
}

.cart_container .cart-details table {
  width: 100%;
  border-collapse: collapse;
}

.cart_container .cart-details th,
.cart_container .cart-details td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.cart-details th:first-child {
  text-align: left;
}

.cart_container .cart-details th {
  background-color: var(--light-beige); /* Apply background color */
}

.cart_container .cart-details .product-data {
  text-align: center;
}

.cart_container .cart-details .price,
.cart_container .cart-details .total {
  font-weight: bold;
}

/* Alternating row colors */
.cart_container .cart-details tr:nth-child(even) {
  background-color: var(--light-beige);
}

/* Hover effect */
.cart_container .cart-details tr:hover {
  background-color: #eaf2fa;
}
