.navbar {
  background: var(--light-beige);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.navbar .nav_bars {
  display: none;
  font-size: 24px;
  color: var(--dark-charcoal);
}

.nav-list .navigate_icon {
  display: none;
}

/* .Logo {
  width: 120px;
  cursor: pointer;
} */

.Logo {
  width: 120px;
  height: 85px;
  object-fit: contain;
  cursor: pointer;
}

.navbar .nav-list {
  display: flex;
  list-style: none;
}

.navbar .nav-list .list-item {
  margin: 0.5rem;
  display: flex;
}

.navbar .nav-list .list-item a {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: var(--dark-charcoal);
  transition: var(--transition);
  text-transform: capitalize;
}

.navbar .nav-list .list-item a:hover {
  background: var(--dark-charcoal);
  border-radius: 8px;
  color: var(--light-beige);
}

.navbar .nav-list .list-item a.isSelected {
  background: var(--dark-charcoal);
  border-radius: 100px;
  color: var(--light-beige);
}

.navbar .close_btn-container {
  display: none;
}

@media screen and (max-width: 650px) {
  .navbar {
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 998;
  }
  .navbar .nav_bars {
    display: initial;
  }

  .nav-list .navigate_icon {
    display: initial;
  }

  /* .Logo {
    width: 130px;
    object-fit: cover;
  } */

  .Logo {
    width: 100px;
    height: 85px;
    object-fit: contain;
    cursor: pointer;
  }
  .navbar .nav-list {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -620px;
    background: var(--light-beige);
    border-bottom-right-radius: 8px;
    transition: all 0.3s linear;
  }

  .navbar .nav-list.slide-in-left {
    left: 0;
  }

  .navbar .nav-list.slide-out-left {
    left: -620px;
  }

  .navbar .nav-list .list-item {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light-beige);
  }

  .navbar .nav-list .list-item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 3rem;
    color: var(--dark-charcoal);
  }

  .navbar .close_btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }
  .navbar .close_btn-container button {
    background: transparent;
    border: none;
    font-size: 32px;
    color: var(--dark-charcoal);
    padding: 10px;
  }
}
