.navbar {
  background: var(--light-beige);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.navbar .nav_bars {
  display: none;
  font-size: 24px;
  color: var(--dark-charcoal);
}

.Logo {
  width: 120px;
}

.navbar .nav-list {
  display: flex;
  list-style: none;
}

.navbar .nav-list .list-item {
  margin: 0.5rem;
  display: flex;
}

.navbar .nav-list .list-item a {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: var(--dark-charcoal);
  transition: var(--transition);
  text-transform: capitalize;
}

.navbar .nav-list .list-item a:hover {
  background: var(--dark-charcoal);
  border-radius: 8px;
  color: var(--light-beige);
}

.navbar .nav-list .list-item a.isSelected {
  background: var(--dark-charcoal);
  border-radius: 100px;
  color: var(--light-beige);
}

@media screen and (max-width: 650px) {
  .navbar {
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 998;
  }
  .navbar .nav_bars {
    display: initial;
  }

  .Logo {
    width: 130px;
    object-fit: cover;
  }
  .navbar .nav-list {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--dark-charcoal);
    border-bottom-right-radius: 8px;
  }

  .navbar .nav-list .list-item {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light-beige);
  }

  .navbar .nav-list .list-item a {
    padding: 2rem 3rem;
    color: var(--light-beige);
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
