.navbar {
  background: var(--light-beige);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.Logo {
  width: 120px;
}

.navbar .nav-list {
  display: flex;
  list-style: none;
}

.navbar .nav-list .list-item {
  margin: 0.5rem;
  display: flex;
}

.navbar .nav-list .list-item a {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: var(--dark-charcoal);
  transition: var(--transition);
  text-transform: capitalize;
}

.navbar .nav-list .list-item a:hover {
  background: var(--dark-charcoal);
  border-radius: 8px;
  color: var(--light-beige);
}

.navbar .nav-list .list-item a.isSelected {
  background: var(--dark-charcoal);
  border-radius: 100px;
  color: var(--light-beige);
}
