.features_section-title {
  font-size: 32px;
}

.features_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.feature {
  width: 40%;
  min-width: 300px;
  max-width: 700px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
}

.feature .feature_title {
  font-size: 24px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  color: #000;
  background: var(--sky-blue);
  padding: 1rem;
}

.feature .feature_description {
  padding: 2rem;
  color: var(--dark-charcoal);
}
